body {
    -webkit-text-size-adjust: none;
  }
  html {
    margin: 0;
    padding: 0;
  }
  body {
    height: 100%;
    background-color: #f5f5f5;
  }
  body,
  p,
  ul,
  ol,
  li,
  dl,
  dt,
  dd,
  form,
  table,
  th,
  td,
  fieldset,
  input,
  textarea,
  select,
  button,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
  }
  body,
  input,
  textarea,
  select,
  button {
    color: black;
    font-size: 12px;
  }
  header,
  footer,
  nav,
  aside,
  section,
  article {
    display: block;
  }
  fieldset,
  img {
    border: 0;
  }
  table {
    padding: 0;
    border-spacing: 0px;
    border: 0;
    border-collapse: collapse;
  }
  ul,
  ol {
    list-style: none;
  }






.header
{
    width: 100vw;
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vw;
    color:balck;
    background-color: #ef5350;
}