.slider {
    position: relative;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 50vw;
    height: 30vh;
    border-radius: 10px;
  }
  
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: orange;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: orange;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .right-arrow:hover{
    transform: scale(0.90);
  }
  .left-arrow:hover{
    transform: scale(0.90);
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }